.register-container {
  height: 100vh;
  background-image: url(../img/ac843682a7392c63897909cbc9dd0981.gif);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .register-container .aside-right {
    width: 25%;
    height: 45vh;
    background-color: #fff;
  }
  
  .register-container .aside-right .header h3 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgb(128, 120, 120); */
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
  }
  
  .register-container .aside-right .input-name-wrapper {
    display: flex;
    justify-content: space-between;
  
  }
  
  .register-container .input-name-wrapper .input-wrapper {
    width: 48%;
  }
  
  #register-form {
    padding: 20px;
  }
  
  .register-container .aside-right .form-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }